.input {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  font-size: 14px;
  text-decoration: none;
  outline: none;
  border-radius: 5px;
  align-items: center;
  margin-top: 10px;

  &:focus {
    outline: none;
  }

  &-theme-dark {
    background-color: #361c5f;
    color: #d5b9f1;
    border-color: #af94d6;
  }

  &-theme-light {
    background-color: #ece1fd;
    color: #8b2ce9;
    border-color: #af94d6;
  }
}
.btnAdd {
  display: flex;
  flex-direction: column;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;
  margin-bottom: 50px;
  margin-top: 40px;
  margin-left: 30px;
  &-theme-dark {
    color: #cabaf6;
    background-color: #4d0f8a;
    box-shadow: 0 9px #2f0b64;

    &:hover {
      border-bottom: 1px solid #a38be3;
    }

    &:active {
      background-color: #35095d;
      box-shadow: 0 5px #15032f;
      transform: translateY(4px);
    }
  }

  &-theme-light {
    color: #ece1fd;
    background-color: #8b2ce9;
    box-shadow: 0 9px #af94d6;

    &:hover {
      background-color: #7128ba;
    }

    &:active {
      background-color: #7128ba;
      box-shadow: 0 5px #af94d6;
      transform: translateY(4px);
    }
  }
}