@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900");

body {
  background: lavender;
  font-family: "Montserrat", sans-serif;
  font-size: large;
  text-align: center;
  color: #3e0577;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

h1 {
  margin-bottom: 50px;
}
.button-item {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #ece1fd;
  background-color: #8b2ce9;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #af94d6;
  margin-bottom: 30px;
  margin-top: 10px;
}

.btn:hover {
  background-color: #7128ba;
}

.btn:active {
  background-color: #7128ba;
  box-shadow: 0 5px #af94d6;
  transform: translateY(4px);
}

.btn2 {
  display: block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #ece1fd;
  background-color: #8b2ce9;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #af94d6;
  margin-bottom: 40px;
  margin-top: 15px;
  margin-left: 250px;
}
.input {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  text-decoration: none;
  outline: none;
  background-color: #ece1fd;
  color: #8b2ce9;
  border-color: #af94d6;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 10px;
}

